@model IEnumerable<Dropdownlistmvc.Data.Dish>

@{
    ViewBag.Title = "Dish";
}

<h2>Dish</h2>

<p>
    @Html.ActionLink(" Рассказать", "AddDish",null, new { @class = "btn btn-primary glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>*@
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipes.RecipeName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>*@
        
        <td>
            @Html.ActionLink(" ", "Delete", new { Id = item.Id }, new {  @class = "btn btn-danger glyphicon glyphicon-remove" }) |
            @Html.ActionLink(" Edit", "Edit", new {Id= item.Id }, new { @class = "btn btn-primary glyphicon glyphicon-ok" })         
        </td>
    </tr>
}

</table>

@section Scripts {
    <script>


        $(document).ready(function () {
            if ('@TempData["message"]' === "Deleted") {
               $.notify("Warning: your record has been deleted successfully", "warn");
            }
            if ('@TempData["message"]' === "Save"){
                $.notify("your record has been Saved successfully", "success");

            }
        });


    </script>
}